/* Games.css */
.games-background {
  background-size: cover;
  background-position: center;
  padding-top: 10px;
}

.scroll-container {
  overflow-y: auto;
}

.floating-text-box {
  background-color: rgba(255, 215, 0, 0.1);
  margin: 8px auto;
  padding: 20px 8px;
  border-radius: 10px;
  width: fit-content;
}

.floating-text {
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.floating-subtext {
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.games-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 10px;
}

.game-card {
  width: 155px;
  margin: 10px;
  position: relative;
  border: 1.5px solid #FFD700;
  border-radius: 10px;
  cursor: pointer;
}

.game-card.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.game-img {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 8px;
  object-fit: cover;
}

.coming-soon-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.coming-soon-text {
  color: white;
  font-weight: bold;
  font-size: 24px;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

/* Responsividade */
@media (max-width: 768px) {
  .games-grid {
    justify-content: center;
  }

  .game-card {
    width: 35%; /* Ajuste para 2 cartas por linha em telas menores */
  }
}

@media (max-width: 480px) {
  .game-card {
    width: 80%; /* Uma carta por linha em telas muito pequenas */
  }
}
